@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar{
    width: 100% !important; 
    border: none !important;
    font-family: 'Inter', sans-serif;
}

.react-calendar__navigation__label{
    font-weight: 600;
}
.react-calendar__tile--active{
    background-color: #c3ebfa !important;
    color: black !important;
}

::-webkit-scrollbar{
    display: none !important;
}

.rbc-btn-group:first-child{
    display: none;
}

.rbc-toolbar-label{
    text-align: right !important;
    padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
    font-size: 13px !important;
}

.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff;
    margin-left: 1px;
}

.rbc-time-view{
    border-radius: 5px !important;
}


.rbc-time-gutter .rbc-time-column{
    font-size: 12px !important;
}

.rbc-time-gutter .rbc-time-column .rbc-timeslot-group {
    padding: 0px 20px !important;
}

.rbc-label{
    font-size: 13px !important;
}

.rbc-row-content{
    display: none;
}
.rbc-time-content{
    border: none !important;
}

.rbc-day-slot {
    font-size: 14px !important;
}

.rbc-event{
    border: none !important;
    color: black !important;
    padding: 10px !important;
    margin: 5px 5px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.rbc-event{
    background-color: #c3ebfa !important;
}

.rbc-current-time-indicator {
    display: none !important;
}

.rbc-timeslot-group{
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
}

.rbc-event-content{
    text-align: center !important;
    margin-top: 4px;
}